---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <a href="/trb/team">← Back</a>
    <div class="py-6 bg-white">
      <div class="grid justify-center max-w-[90%] mx-auto">
        <div>
          <div class="max-w-fit mx-auto h-80" style="view-transition-name: img;">
            <img src="/people/ben-a-fedorko.png"/>
          </div>
        </div>
        <span class="card-title pt-6">Ben A. Fredorko</span>
        <span class="text-center">[contact]</span>
        <p class="max-w-2xl py-6">
          I am currently the President of the Trust & Wealth Management Division
          at Texas Regional Bank, a privately held bank in Texas. At TRB Trust &
          Wealth Management, we are focused on providing comprehensive and
          customized solutions for high-net-worth clients. The mission of our
          team is to deliver Informed Peace of Mind by helping clients achieve
          their goals and protect their legacy, while upholding the highest
          standards of integrity, professionalism, and fiduciary responsibility.
          <br />
          <br />
          Prior to joining Texas Regional Bank, I was a Senior Vice President and
          Senior Fiduciary Officer at Northern Trust Corporation, where I managed
          a portfolio of complex trust accounts, advised clients on personal finance
          and wealth transfer strategies, and collaborated with internal and external
          partners to deliver exceptional service. Before that I practiced law at
          Bracewell LLP and Gray, Reed & McGraw LLP.
          <br />
          <br />
          I am board certified in estate planning and probate and hold a J.D. from
          South Texas College of Law and an undergraduate degree in Business Management
          from Mays Business School at Texas A&M University.
          <br />
          <br />
          When I am not in the office, you will typically find me enjoying time with
          my wife and three young children, ideally in the mountains in Colorado,
          or playing golf. We are active members at Memorial Drive Presbyterian Church
          in Houston.
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .card-title {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--color-trbBrown);
    text-align: center;
  }
</style>
