---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="bg-white py-6 mt-12">
    <div>
      <div class="text-center">
        <span
          class="text-trbBlue text-center text-[2.5rem] pt-4 mb-6 font-merriweather"
          >Our People</span
        >
        <select id="team-selector">
          <option value="all" selected>All</option>
          <option value="executive">executive</option>
          <option value="wealth">wealth</option>
          <option value="trust">trust</option>
          <option value="operations">operations</option>
          <option value="location">location</option>
        </select>
        <div id="executive">
          <h2>Executive Team</h2>
          <div
            class="grid mx-auto gap-2 w-[90%] max-w-6xl justify-center md:grid-cols-3"
          >
            <div class="card-personal shadow">
              <div>
                <img src="/people/robert-farris.png" />
              </div>
              <div class="card-content">
                <span class="card-title">Robert Farris, CFP&REG;</span>
                <p>
                  <i>Chairman</i>, TRB Trust & Wealth
                  <br />
                  Management
                  <br />
                  Harlingen, Texas
                </p>
              </div>
            </div>
            <div class="card-personal shadow">
              <div class="relative">
                <div class="absolute top-1/2 left-1/2" style="view-transition-name: img;"></div>
                <img src="/people/ben-a-fedorko.png"/>
              </div>
              <div class="card-content relative">
                <a href="/team/ben" class="absolute right-1/2 top-0 translate-x-1/2"
                  >bio</a
                >
                <span class="card-title">Ben A. Fredorko</span>
                <p>
                  <i>President</i>, TRB Trust & Wealth
                  <br />
                  Houston, Texas
                  <br />
                  [phone_number]
                </p>
              </div>
            </div>
            <div class="card-personal shadow">
              <div>
                <img src="/people/john-tippit.png" />
              </div>
              <div class="card-content">
                <span class="card-title">John Tippit, IV</span>
                <p>
                  <i>President</i>, Devisions
                  <br />
                  Harlingen, Texas
                  <br />
                  [phone_number]
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="wealth">
          <h2>Wealth Team</h2>
          <div
            class="grid mx-auto gap-2 w-[90%] max-w-6xl justify-center md:grid-cols-3"
          >
            <div class="card-personal shadow">
              <div>
                <img src="/people/robert-farris.png" />
              </div>
              <div class="card-content">
                <span class="card-title">John Doe&REG;</span>
                <p>
                  <i>Chairman</i>, TRB Trust & Wealth
                  <br />
                  Management
                  <br />
                  Harlingen, Texas
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  h2 {
    line-height: 1.25;
    font-size: 1.75rem;
    color: var(--color-trbBrown);
    margin: 0 0 1.5rem;
    font-family: "merriweather", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding-top: 1rem;
  }

  .card-personal {
    box-sizing: border-box;
    display: grid;
    overflow: hidden;
    border-radius: var(--radius-md);
    max-width: fit-content;
  }
  .card-content {
    padding: 2rem 0 2rem 0;
  }

  .card-title {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--color-trbBrown);
  }

  a {
    color: revert;
    text-decoration: revert;
  }

  select {
    all: revert;
    display: block;
    margin: 0 auto 0 auto;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const selector = document.getElementById(
      "team-selector",
    ) as HTMLSelectElement | null;
    const teams: NodeListOf<HTMLElement> = document.querySelectorAll(
      "#executive, #wealth, #trust, #operations, #location",
    );

    if (!selector) return;

    function updateTeams() {
      const value = selector?.value;
      teams.forEach((team) => {
        if (value === "all" || team.id === value) {
          team.style.display = "block";
        } else {
          team.style.display = "none";
        }
      });
    }

    // Run once on load
    updateTeams();

    // Run whenever the selection changes
    selector.addEventListener("change", updateTeams);
  });
</script>
