---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Link1 from "@/components/Link1.astro";
import Link2 from "@/components/Link2.astro";
---

<Layout>
  <div>
    <div
      class="bg-[center_center] bg-cover bg-[url(/father-and-daughter-hugging-scaled-1.jpg)]"
    >
      <Header />
      <div id="bannercontent" class="mx-w-7xl mx-auto w-[90%]">
        <div class="p-[7rem_0_3rem_0] text-[1rem] min-h-[35rem]">
          <div>
            <p
              class="text-white text-center text-[2.5rem] pt-4 mb-6 font-merriweather"
            >
              Bank with the people you know.
            </p>
            <div class="text-center text-[1em] box-border mb-[1.5rem]">
              <Link1 href="/">Personal</Link1>
              <Link1 href="/">Business</Link1>
              <Link1 href="/">Mortgage</Link1>
              <Link1 href="/">Trust & Wealth</Link1>
              <Link1 href="/">Insurance</Link1>
              <Link1 href="/">Community</Link1>
              <Link1 href="/">International Private Banking</Link1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="maincontent" class="bg-white box-border">
      <div>
        <div id="col">
          <article id="post-12681">
            <div id="pl-12681">
              <div id="pg-12681-0">
                <div>
                  <div class="p-[1.5rem_0_1rem_0] bg-trbBlue">
                    <div class="flex justify-center items-center text-white mx-auto">
                      <i>[icon]</i>
                      <span class="text-[2.3rem] font-merriweather align-">
                        Apply Today
                      </span>
                      <Link1 href="/" class="!m-[0_0_0_1.5rem]">Personal Account</Link1>
                      <Link1 href="/" class="!m-[0_0_0_1.5rem]">Personal Loan</Link1>
                      <Link1 href="/" class="!m-[0_0_0_1.5rem]">Business Loan</Link1>
                    </div>
                  </div>
                </div>
              </div>
              <div id="pg-12681-1" class="mb-[3rem]">
                <div class="panel-container pt-[3rem] flex-col-reverse">
                  <div>
                    <div class="mx-auto w-[90%] md:max-w-xl">
                      <h2>Personal Banking</h2>
                      <p>
                        As one of the premier banks across the state of Texas,
                        Texas Regional Bank provides exceptional personal
                        banking products and services along with unmatched
                        customer service and experience. We invite you to
                        <span>
                          <b>
                            <i>Bank With the People You Know</i>
                          </b>
                        </span>
                        .
                      </p>
                      <p class="md:flex md:flex-wrap">
                        <Link2 href="/">Bank Accounts</Link2>
                        <Link2 href="/">Savings Accounts</Link2>
                        <Link2 href="/">Loans & Credit Cards</Link2>
                      </p>
                    </div>
                  </div>
                  <div>
                    <img src="/family-reading-a-book-together-768x538.jpg" />
                  </div>
                </div>
              </div>
              <div id="pg-12681-2" class="mb-[3rem]">
                <div class="panel-container py-[2rem] flex-col">
                  <div>
                    <img src="/business-people-shaking-hands.jpg" />
                  </div>
                  <div>
                    <div class="mx-auto w-[90%] md:max-w-xl">
                      <h2>Business Banking</h2>
                      <p>
                        At Texas Regional Bank, we build relationships through
                        loyalty, trust, and hard work. Our business banking
                        products and services are designed to help your business
                        succeed. We invite you to come and experience real
                        Relationship Banking.
                      </p>
                      <p class="md:flex md:flex-wrap">
                        <Link2 href="/">Bank Accounts</Link2>
                        <Link2 href="/">Loans & Credit</Link2>
                        <Link2 href="/">Treasury Management</Link2>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="pg-12681-3" class="mb-[3rem]">
                <div
                  class="panel-container pt-[3rem] flex-col-reverse"
                >
                  <div>
                    <div class="mx-auto w-[90%] md:max-w-xl">
                      <h2>Mortgage</h2>
                      <p>
                        Your new home starts here. We&apos;re here to help you
                        find the right home loan.
                      </p>
                      <p class="md:flex md:flex-wrap">
                        <Link2 href="/">Purchase</Link2>
                        <Link2 href="/">Refinance</Link2>
                        &nbsp;
                        <Link2 href="/">New Construction</Link2>
                      </p>
                    </div>
                  </div>
                  <div>
                    <img src="/handshake-with-lending-officer.jpg" />
                  </div>
                </div>
              </div>
              <div id="pg-12681-4" class="mb-[3rem]">
                <div
                  class="panel-container py-[2rem] flex-col"
                >
                  <div>
                    <img src="/a-man-doing-calculations-at-his-desk.jpg" />
                  </div>
                  <div>
                    <div class="mx-auto w-[90%] md:max-w-xl">
                      <h2>Trust &amp; Wealth Management</h2>
                      <p>
                        TRB Trust &amp; Wealth Management helps families,
                        individuals and organizations analyze and achieve their
                        financial goals by providing significant strategies that
                        are personalized to address specific objectives, goals
                        or concerns. Our team’s boutique approach offers a
                        premier client experience that ensures informed peace of
                        mind.
                      </p>
                      <p class="md:flex md:flex-wrap">
                        <Link2 href="/">Learn More</Link2>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="pg-12681-5" class="mb-[3rem]">
                <div class="panel-container pt-[3rem] flex-col-reverse">
                  <div>
                    <div class="mx-auto w-[90%] md:max-w-xl">
                      <h2>Community</h2>
                      <p>
                        "We take pride in contributing our time and resources to
                        make our communities a great place to live and work. We
                        are successful when our communities are successful. It's
                        our mission to be the "
                        <em>People You Know</em>
                        " in the communities we serve."
                      </p>
                      <p class="md:flex md:flex-wrap">
                        <Link2 href="/">TRB in the Community</Link2>
                      </p>
                    </div>
                  </div>
                  <div>
                    <img src="/community-home.jpg" />
                  </div>
                </div>
              </div>
              <div class="md:grid md:grid-cols-2 md:justify-items-center">
                <div class="py-[1rem]">
                  <div id="pgc-header">
                    <div>
                      <div>
                        <h2 class="text-center">Community</h2>
                      </div>
                    </div>
                  </div>
                  <div id="pgc-card" class="h-[610px] w-[337px] border mx-auto">
                    <div>[Article_preview_carousels_placeholder]</div>
                  </div>
                </div>
                <div class="py-[1rem]">
                  <div id="pgc-header">
                    <div>
                      <div>
                        <h2 class="text-center">Insights</h2>
                      </div>
                    </div>
                  </div>
                  <div id="pgc-card" class="h-[610px] w-[337px] border mx-auto">
                    <div>[Article_preview_carousels_placeholder]</div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div id="footer">
      <footer class="p-[3rem_0_2rem_0] mx-auto w-[90%] max-w-7xl">
        <div class="mx-[-0.75rem]">
          <div class="m-[1rem_auto] w-[calc(100%-2rem)]">
            <div>
              <aside>
                <div>
                  <ul class="list-none p-0 m-0 items-stretch content-stretch md:flex md:flex-col md:flex-wrap md:max-h-[600px] lg:max-h-[440px]">
                    <li class="li_lv0">
                      <a class="link_lv0">Personal Banking</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/" class="link_lv1">Bank Accounts</a>
                          <a href="/" class="link_lv1">Savings Accounts</a>
                          <a href="/" class="link_lv1">Home Loans</a>
                          <a href="/" class="link_lv1">Personal Loans</a>
                          <a href="/" class="link_lv1">Online & Mobile Tools</a>
                          <a href="/" class="link_lv1">Zelle&reg;</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Business Banking</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/" class="link_lv1">Bank Accounts</a>
                          <a href="/" class="link_lv1">Loans & Credit</a>
                          <a href="/" class="link_lv1">Business Credit Card</a>
                          <a href="/" class="link_lv1">Treasury Management</a>
                          <a href="/" class="link_lv1">Merchant Services</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Mortgage</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/" class="link_lv1">Purchase</a>
                          <a href="/" class="link_lv1">Refinance</a>
                          <a href="/" class="link_lv1">New Construction</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Agriculture</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Trust & Wealth Management</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Capital Markets</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Insurance</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/" class="link_lv1">Personal Insurance</a>
                          <a href="/" class="link_lv1">Business Insurance</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">International Private Banking</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/" class="link_lv1">Foreign Exchange</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Public Sector</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Locations</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">About Us</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/" class="link_lv1">Our Story</a>
                          <a href="/" class="link_lv1">Core Values</a>
                          <a href="/" class="link_lv1">Directors</a>
                          <a href="/" class="link_lv1">Officers</a>
                          <a href="/" class="link_lv1">Careers</a>
                          <a href="/" class="link_lv1">Investor Relations</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">ATM Locations</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Resources</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/" class="link_lv1"
                            >Business Accounts Security</a
                          >
                          <a href="/" class="link_lv1"
                            >How to Protect your Identity</a
                          >
                          <a href="/" class="link_lv1">Intuit</a>
                          <a href="/" class="link_lv1">Order Checks</a>
                          <a href="/" class="link_lv1"
                            >Product Training Videos</a
                          >
                          <a href="/" class="link_lv1">Request a Donation</a>
                          <a href="/" class="link_lv1">Security Tips</a>
                          <a href="/" class="link_lv1">E-Sign Disclosure</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">News</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Community Involvement</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Contact Us</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <p
                            class="!mx-auto !mb-0 p-0 max-w-[16rem] text-white md:!mx-0"
                          >
                            Routing Number: 114917335
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </footer>
      <div id="smallprint" class="pb-[4.5rem] text-center p-[1rem_0]">
        <div class="mx-auto w-[90%] max-w-7xl">
          <div class="text-white">
            <aside>
              <div>
                <div>
                  <p>
                    <a href="/">
                      <img
                        class="!max-w-[75%] !aspect-[auto_501/87] !w-[20rem] mx-auto mb-[1.5rem]"
                        src="/trb-logo-all-white.svg"
                      />
                    </a>
                  </p>
                  <p class="smallprint_p">
                    Copyright &copy; 2025 · Texas Regional Bank
                    <span>
                      Member FDIC,
                      <br />
                      <i>equal_housing_icon</i>
                      Equal Housing Lender
                    </span>
                    &nbsp;·&nbsp;
                    <a href="/" class="smallprint_a">Privacy Policy</a>
                    <br />
                    <a href="/" class="smallprint_a"
                      >Website Design & Development</a
                    >
                    <br />
                    <a href="/" class="smallprint_a">
                      <i>facebook_icon</i>
                      Follow Texas Regional Bank on Facebook
                    </a>
                    <br />
                    To view PDFs found on this website,&nbsp;
                    <a href="/" class="smallprint_a">
                      Install Acrobat Reader
                    </a>
                  </p>
                </div>
              </div>
            </aside>
            <aside>[Search_placeholder]</aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .panel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #stretched {
    padding-top: 3rem;
  }

  img {
    aspect-ratio: auto 1428/1000;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  p {
    line-height: 1.5;
    margin: 0 0 1.5rem;
    word-break: break-word;
  }
  .smallprint_p {
    margin-bottom: 0;
    font-size: 0.7rem;
    line-height: 1.25rem;
    text-align: center;
  }
  h2 {
    line-height: 1.25;
    font-size: 1.75rem;
    color: var(--color-trbBrown);
    margin: 0 0 1.5rem;
    font-family: "merriweather", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding-top: 1rem;
  }
  #footer {
    background: var(--color-trbBlue);
  }
  .li_lv0 {
    max-width: 100%;
    text-align: center;
    margin: 1.5rem 0 0 0;
    display: list-item;
  }
  .link_lv0 {
    font-size: 1.17rem;
    color: var(--color-trbBrown);
    display: inline-block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    transition: all 0.25s ease-in-out;

    text-align: center;
  }
  .ul_lv1 {
    padding: 0;
    margin: 0 0 0 0.75rem;
    list-style-type: circle;
    text-align: center;
    list-style: none;
  }
  .li_lv1 {
    list-style-type: none;
    position: relative;
    padding: 0;
    list-style: none;
    display: list-item;
  }
  .link_lv1 {
    display: list-item;
    transition: all 0.25s ease-in-out;
    color: #fff;
  }
  .smallprint_a {
    border-bottom: 1px solid #2b5882;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
  }

  @media (min-width: 48rem) {
    h2 {
      padding-top: 0;
    }

    .panel-container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: calc(var(--spacing) * 10);
    }

    .li_lv0 {
      text-align: left;
    }
    .li_lv1 {
      text-align: left;
    }
  }
</style>
