---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="bg-white py-10 mt-20">
    <div class="w-[90%] max-w-2xl mx-auto">
      <div id="title" class="mb-[4rem]">
        <h1>Weekly Market Update ending Aug 29, 2025</h1>
        <div class="flex justify-between">
          <div class="flex gap-4 items-center">
            <div class="max-w-12 border-0 rounded-[50%] overflow-clip">
              <img
                src="/trb/people/Trey-Willerson.jpg"
                class="w-full h-full object-contain"
              />
            </div>
            <p class="!mb-0">
              Trey Willerson, CFA
              <br />
              <i>Chief Investment Officer</i>
            </p>
          </div>

          <span> Friday, August 29, 20205 </span>
        </div>
      </div>
      <div class="">
        <div class="mb-[2rem]">
          <img src="/trb/resources/hero-1.png" class="rounded-[1rem]" />
        </div>
      </div>
      <div class="text-lg pt-[2rem]">
        <span class="font-bold mt-[1rem] mb-[0.25rem]">
          Major Indices Reached Record Highs
        </span>
        <ul>
          <li>
            The S&P 500 surged to multiple record closings throughout the week,
            hitting its 16th all-time high of the year and breaking above 6,400
            for the first time.
          </li>
          <li>
            The Nasdaq Composite also set new records, continuing a strong
            year-to-date performance (+12% YTD).
          </li>
          <li>
            The Dow Jones Industrial Average briefly set its first intraday
            record for 2025, ultimately rising 1.7% for the week
          </li>
        </ul>
        <span class="font-bold mt-[1rem] mb-[0.25rem]">
          Inflation Reports Moved Markets
        </span>
        <ul>
          <li>
            The Consumer Price Index (CPI) was released Tuesday and came in
            cooler than expected, rising 2.7% year-over-year, which was below
            the 2.8% forecast.
          </li>
          <li>
            The Producer Price Index (PPI) was out Thursday and showed that
            higher tariff costs are starting to impact supply chains,
            intensifying inflation concerns.
          </li>
          <li>
            These inflation prints increased market optimism about a possible
            Federal Reserve rate cut at the September meeting.
          </li>
        </ul>
        <span class="font-bold mt-[1rem] mb-[0.25rem]">
          Sector Rotation and Small-Cap Resurgence
        </span>
        <ul>
          <li>
            The Russell 2000 small-cap index outperformed all major indices,
            gaining 3.1% over the week, benefiting from lower Treasury yields.
          </li>
        </ul>
        <span class="font-bold mt-[1rem] mb-[0.25rem]"> Policy Outlook </span>
        <ul>
          <li>
            There was renewed focus on trade deadlines and tariff announcements,
            particularly with China, drawing investor attention to global supply
            chain risk and geopolitics.
          </li>
          <li>
            Anticipation grew for the upcoming Fed Jackson Hole conference
            scheduled the following week, expected to influence policy rate
            decisions.
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>

<style>
  h1 {
    color: var(--color-trbBlue);
    font-size: 4rem;
    font-family: "merriweather", Helvetica, Arial, sans-serif;
    margin-bottom: 1rem;
  }

  ul {
    all: revert;
    margin-bottom: 3rem;
  }
  li {
    all: revert;
  }
</style>
