---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    display: block;
    margin: 0 auto 0.5rem;
    max-width: 75%;
    background: #fff;
    color: var(--color-trbBlue);
    font-size: 0.9rem;
    line-height: 0.9rem;
    border: 2px solid var(--color-trbBlue);
    text-align: center;

    border-radius: 0.25rem;
    box-shadow: none;
    text-shadow: none;
    padding: 0.6rem 0.75rem 0.7rem;
    font-style: normal;
    filter: none !important;
    vertical-align: middle;
    font-weight: bold;

    transition: all 0.25s ease-in-out;
    text-decoration: none;

    word-break: break-word;
  }
</style>
