---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Link1 from "@/components/Link1.astro";
import Link2 from "@/components/Link2.astro";
---

<Layout>
  <div>
    <div
      class="bg-[center_center] bg-cover bg-[url(/trb/father-and-daughter-hugging-scaled-1.jpg)]"
    >
      <Header />
      <div id="bannercontent" class="mx-w-7xl mx-auto w-[90%]">
        <div class="p-[7rem_0_3rem_0] text-[1rem] min-h-[35rem]">
          <div>
            <p
              class="text-white text-center text-[2.5rem] pt-4 mb-6 font-merriweather"
            >
              Informed Peace of Mind &REG;
              <br />
              From The People You Know
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="maincontent" class="bg-white box-border">
      <div>
        <div id="col">
          <article id="post-12681">
            <div id="pl-12681">
              <div class="hidden md:block">
                <div>
                  <div class="p-[1.5rem_0_1rem_0] bg-trbBlue">
                    <div
                      class="flex justify-center items-center text-white mx-auto"
                    >
                      <i class="pr-4">[icon]</i>
                      <span class="text-[2.3rem] font-merriweather align-">
                        Get Started
                      </span>
                      <Link1 href="/trb/team" class="!m-[0_0_0_1.5rem]"
                        >Meet Our Team</Link1
                      >
                      <Link1 href="/trb" class="!m-[0_0_0_1.5rem]"
                        >Contact Us</Link1
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="max-w-[90%] mx-auto pt-[3rem] mb-[5rem]">
                <div class="grid gap-10 md:grid-cols-3">
                  <div class="shadow">
                    <div class="border-b-[8px] border-trbBlue">
                      <img
                        src="/trb/wealth/blue-bonnet-wagon.jpg"
                        class="!aspect-[1.3333]"
                      />
                    </div>
                    <div>
                      <h3
                        class="text-trbBlue text-2xl px-[25px] pt-[1rem] mb-[10px]"
                      >
                        Mission
                      </h3>
                      <p class="text-justify px-[25px] mb-[1.5rem]">
                        To be the premier boutique trust and wealth management
                        business in Texas by providing families with an
                        exceptional client experience and skilled stewardship of
                        their assets to ensure
                        <b>
                          <i>informed peace of mind.</i>
                        </b>
                      </p>
                    </div>
                  </div>
                  <div class="shadow">
                    <div class="border-b-[8px] border-trbBlue">
                      <img
                        src="/trb/wealth/sunrise-hay-bale.jpg"
                        class="!aspect-[1.3333]"
                      />
                    </div>
                    <div>
                      <h3
                        class="text-trbBlue text-2xl px-[25px] pt-[1rem] mb-[10px]"
                      >
                        Who We Serve
                      </h3>
                      <p class="text-justify px-[25px] mb-[1.5rem]">
                        The people we know. We help families, individuals and
                        organizations analyze and achieve their financial goals
                        by providing exceptional, personalized and significant
                        strategies.
                      </p>
                    </div>
                  </div>
                  <div class="shadow">
                    <div class="border-b-[8px] border-trbBlue">
                      <img
                        src="/trb/wealth/shutterstock_562548409-scaled.jpg"
                        class="!aspect-[1.3333]"
                      />
                    </div>
                    <div>
                      <h3
                        class="text-trbBlue text-2xl px-[25px] pt-[1rem] mb-[10px]"
                      >
                        Values
                      </h3>
                      <p class="text-justify px-[25px] mb-[1.5rem]">
                        A fiduciary owes its principal one of the highest duties
                        known to law. This underscores our devotion to the
                        families we serve and our obligation to place our
                        client’s interests above all else.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="py-[3rem] mb-[5rem] bg-[#f4f3f3]">
                <div class="max-w-[90%] mx-auto">
                  <div>
                    <div
                      class="md:grid md:grid-cols-2 w-full md:justify-items-center md:items-center"
                    >
                      <div>
                        <div class="mx-auto w-[90%] md:max-w-xl">
                          <h2>What We Do</h2>
                          <p class="text-[1.2rem]">
                            Your family&apos;s financial well-being is our
                            priority. Our Trust and Wealth Management team
                            provides boutique services with a personalized focus
                            on your family&apos;s unique needs.
                          </p>
                        </div>
                      </div>
                      <!-- class="w-[calc(50%-(0.5*50px))]" -->
                      <div class="max-w-[615px] mx-auto">
                        <img
                          src="/trb/wealth/trust-diagram.png"
                          class="w-full h-full object-contain"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="introductions" class="max-w-[90%] mx-auto pt-[3rem]">
                <h2 class="text-center mx-auto">Inroductions</h2>
                <div class="panel-container gap-6 flex-col !items-baseline">
                  <div>
                    <div class="video-wrapper">
                      <iframe
                        src="https://www.youtube.com/embed/dPQn13bmmtc?si=TlwmDWyWR_jbA43F"
                        title="YouTube video player"
                        loading="lazy"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
                    </div>
                    <p>
                      <span class="text-[1.5rem] leading-24"
                        >Informed Peace of Mind:</span
                      >
                      <br />
                      Meet TRB Trust & Wealth President explain how clients can reach
                      Informed Peace of Mind with TRB professional financial services
                    </p>
                  </div>
                  <div>
                    <div class="video-wrapper">
                      <iframe
                        src="https://www.youtube.com/embed/sONZKeCyLCw?si=YHUsqR15RK0NFSHj"
                        title="YouTube video player"
                        loading="lazy"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
                    </div>
                    <p>
                      <span class="text-[1.5rem] leading-24"
                        >More Than Just Investing:</span
                      >
                      <br />
                      Meet TRB Chief Investment Officer as he explains how investing
                      is more about reaching your personal financial goals
                    </p>
                  </div>
                </div>
              </div>
              <div id="resources" class="max-w-[90%] mx-auto py-[3rem]">
                <h2 class="text-center mx-auto">Resources</h2>
                <div
                  class="grid mx-auto gap-10 w-[90%] max-w-6xl sm:justify-center sm:grid-cols-2"
                >
                  <div class="card-personal">
                    <div>
                      <img
                        src="/trb/resources/hero-1.png"
                        class="object-contain w-full"
                      />
                    </div>
                    <div class="card-content">
                      <p class="opacity-60">Friday, August 29, 2025</p>
                      <h5>Weekly Market Update</h5>
                      <p class="!mb-0">
                        This week we get a look at Q2 GDP results, and also the
                        Fed's preferred inflation reading, PCE. Read to learn
                        how these are affecting our thinkinga and potential rate
                        cut projections.
                      </p>
                    </div>
                    <div class="card-footer">
                      <div class="card-footer w-[90%] px-[2rem] pb-[2rem]">
                        <div class="flex gap-4 items-center">
                          <div
                            class="max-w-12 border-0 rounded-[50%] overflow-clip"
                          >
                            <img
                              src="/trb/people/Trey-Willerson.jpg"
                              class="w-full h-full object-contain"
                            />
                          </div>
                          <p class="!mb-0">
                            Trey Willerson, CFA
                            <br />
                            <i>Chief Investment Officer</i>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-personal">
                    <div>
                      <img
                        src="/trb/resources/hero-2.png"
                        class="object-contain w-full"
                      />
                    </div>
                    <div class="card-content">
                      <p class="opacity-60">Monday, August 25, 2025</p>
                      <h5>Wealth Blog</h5>
                      <p class="!mb-0">
                        How beautiful is the One Big Beautiful Bill. Read as our
                        experts outline the major provision of the president's
                        landmark tax legislation and how it can effect your
                        financial plan.
                      </p>
                    </div>
                    <div class="card-footer w-[90%] px-[2rem] pb-[2rem]">
                      <div class="flex gap-4 items-center">
                        <div
                          class="max-w-12 border-0 rounded-[50%] overflow-clip"
                        >
                          <img
                            src="/trb/people/Peyton-Stamper.jpg"
                            class="w-full h-full object-contain"
                          />
                        </div>
                        <p class="!mb-0">
                          Peyton Stamper, CFA, CFP&REG;
                          <br />
                          <i>Wealth Management Advisor</i>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="prev_blogs" class="py-[3rem] max-w-[1008px] mx-auto">
                  <h5>Previous Articles</h5>
                  <div>
                    <div class="py-[2rem] grid grid-cols-2 border-b-1 border-b-gray-600/60">
                      <div>
                        <div class="card-footer w-[90%] px-[2rem] pb-[2rem]">
                          <p>Wednesday, August 20, 2025</p>
                          <div class="flex gap-4 items-center">
                            <div
                              class="max-w-12 border-0 rounded-[50%] overflow-clip"
                            >
                              <img
                                src="/trb/people/Peyton-Stamper.jpg"
                                class="w-full h-full object-contain"
                              />
                            </div>
                            <p class="!mb-0">
                              Peyton Stamper, CFA, CFP&REG;
                              <br />
                              <i>Wealth Management Advisor</i>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div>
                        <p>Title</p>
                        <p>Body</p>
                        <span>Read More</span>
                      </div>
                    </div>
                    <div class="py-[2rem] grid grid-cols-2 border-b-1 border-b-gray-600/60">
                      <div>
                        <div class="card-footer w-[90%] px-[2rem] pb-[2rem]">
                          <p>Monday, August 18, 2025</p>
                          <div class="flex gap-4 items-center">
                            <div
                              class="max-w-12 border-0 rounded-[50%] overflow-clip"
                            >
                              <img
                                src="/trb/people/Peyton-Stamper.jpg"
                                class="w-full h-full object-contain"
                              />
                            </div>
                            <p class="!mb-0">
                              Peyton Stamper, CFA, CFP&REG;
                              <br />
                              <i>Wealth Management Advisor</i>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div>
                        <p>Title</p>
                        <p>Body</p>
                        <span>Read More</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div id="footer">
      <footer class="p-[3rem_0_2rem_0] mx-auto w-[90%] max-w-7xl">
        <div class="mx-[-0.75rem]">
          <div class="m-[1rem_auto] w-[calc(100%-2rem)]">
            <div>
              <aside>
                <div>
                  <ul
                    class="list-none p-0 m-0 items-stretch content-stretch md:flex md:flex-col md:flex-wrap md:max-h-[600px] lg:max-h-[440px]"
                  >
                    <li class="li_lv0">
                      <a class="link_lv0">Personal Banking</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/trb" class="link_lv1">Bank Accounts</a>
                          <a href="/trb" class="link_lv1">Savings Accounts</a>
                          <a href="/trb" class="link_lv1">Home Loans</a>
                          <a href="/trb" class="link_lv1">Personal Loans</a>
                          <a href="/trb" class="link_lv1"
                            >Online & Mobile Tools</a
                          >
                          <a href="/trb" class="link_lv1">Zelle&reg;</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Business Banking</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/trb" class="link_lv1">Bank Accounts</a>
                          <a href="/trb" class="link_lv1">Loans & Credit</a>
                          <a href="/trb" class="link_lv1"
                            >Business Credit Card</a
                          >
                          <a href="/trb" class="link_lv1">Treasury Management</a
                          >
                          <a href="/trb" class="link_lv1">Merchant Services</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Mortgage</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/trb" class="link_lv1">Purchase</a>
                          <a href="/trb" class="link_lv1">Refinance</a>
                          <a href="/trb" class="link_lv1">New Construction</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Agriculture</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Trust & Wealth Management</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Capital Markets</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Insurance</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/trb" class="link_lv1">Personal Insurance</a>
                          <a href="/trb" class="link_lv1">Business Insurance</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">International Private Banking</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/trb" class="link_lv1">Foreign Exchange</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Public Sector</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Locations</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">About Us</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/trb" class="link_lv1">Our Story</a>
                          <a href="/trb" class="link_lv1">Core Values</a>
                          <a href="/trb" class="link_lv1">Directors</a>
                          <a href="/trb" class="link_lv1">Officers</a>
                          <a href="/trb" class="link_lv1">Careers</a>
                          <a href="/trb" class="link_lv1">Investor Relations</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">ATM Locations</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Resources</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <a href="/trb" class="link_lv1"
                            >Business Accounts Security</a
                          >
                          <a href="/trb" class="link_lv1"
                            >How to Protect your Identity</a
                          >
                          <a href="/trb" class="link_lv1">Intuit</a>
                          <a href="/trb" class="link_lv1">Order Checks</a>
                          <a href="/trb" class="link_lv1"
                            >Product Training Videos</a
                          >
                          <a href="/trb" class="link_lv1">Request a Donation</a>
                          <a href="/trb" class="link_lv1">Security Tips</a>
                          <a href="/trb" class="link_lv1">E-Sign Disclosure</a>
                        </li>
                      </ul>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">News</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Community Involvement</a>
                    </li>
                    <li class="li_lv0">
                      <a class="link_lv0">Contact Us</a>
                      <ul class="ul_lv1">
                        <li class="li_lv1">
                          <p
                            class="!mx-auto !mb-0 p-0 max-w-[16rem] text-white md:!mx-0"
                          >
                            Routing Number: 114917335
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </footer>
      <div id="smallprint" class="pb-[4.5rem] text-center p-[1rem_0]">
        <div class="mx-auto w-[90%] max-w-7xl">
          <div class="text-white">
            <aside>
              <div>
                <div>
                  <p>
                    <a href="/trb">
                      <img
                        class="!max-w-[75%] !aspect-[auto_501/87] !w-[20rem] mx-auto mb-[1.5rem]"
                        src="/trb/trb-logo-all-white.svg"
                      />
                    </a>
                  </p>
                  <p class="smallprint_p">
                    Copyright &copy; 2025 · Texas Regional Bank
                    <span>
                      Member FDIC,
                      <br />
                      <i>equal_housing_icon</i>
                      Equal Housing Lender
                    </span>
                    &nbsp;·&nbsp;
                    <a href="/trb" class="smallprint_a">Privacy Policy</a>
                    <br />
                    <a href="/trb" class="smallprint_a"
                      >Website Design & Development</a
                    >
                    <br />
                    <a href="/trb" class="smallprint_a">
                      <i>facebook_icon</i>
                      Follow Texas Regional Bank on Facebook
                    </a>
                    <br />
                    To view PDFs found on this website,&nbsp;
                    <a href="/trb" class="smallprint_a">
                      Install Acrobat Reader
                    </a>
                  </p>
                </div>
              </div>
            </aside>
            <aside>[Search_placeholder]</aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .panel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #stretched {
    padding-top: 3rem;
  }

  img {
    aspect-ratio: auto 1428/1000;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  p {
    line-height: 1.5;
    margin: 0 0 1.5rem;
    word-break: break-word;
  }
  .smallprint_p {
    margin-bottom: 0;
    font-size: 0.7rem;
    line-height: 1.25rem;
    text-align: center;
  }
  h2 {
    line-height: 1.25;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-trbBlue);
    margin: 0 0 1.5rem;
    font-family: "merriweather", Helvetica, Arial, sans-serif;
    padding-top: 1rem;
  }

  h5 {
    line-height: 1.25;
    font-size: 1.25rem;
    color: var(--color-trbBlue);
    font-family: "merriweather", Helvetica, Arial, sans-serif;
    margin-bottom: 1.5rem;
  }

  #footer {
    background: var(--color-trbBlue);
  }
  .li_lv0 {
    max-width: 100%;
    text-align: center;
    margin: 1.5rem 0 0 0;
    display: list-item;
  }
  .link_lv0 {
    font-size: 1.17rem;
    color: var(--color-trbBrown);
    display: inline-block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    transition: all 0.25s ease-in-out;

    text-align: center;
  }
  .ul_lv1 {
    padding: 0;
    margin: 0 0 0 0.75rem;
    list-style-type: circle;
    text-align: center;
    list-style: none;
  }
  .li_lv1 {
    list-style-type: none;
    position: relative;
    padding: 0;
    list-style: none;
    display: list-item;
  }
  .link_lv1 {
    display: list-item;
    transition: all 0.25s ease-in-out;
    color: #fff;
  }
  .smallprint_a {
    border-bottom: 1px solid #2b5882;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
  }

  .video-wrapper {
    position: relative;
    padding-top: 50%;
    padding-bottom: 20px;
    height: 0;
  }

  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .card-personal {
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 0px 3px 5px #8ba2c51c;
    border-radius: 6px;
  }
  .card-content {
    padding: 2rem;
  }

  @media (min-width: 48rem) {
    h2 {
      padding-top: 0;
    }

    .panel-container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: calc(var(--spacing) * 10);
    }

    .li_lv0 {
      text-align: left;
    }
    .li_lv1 {
      text-align: left;
    }
  }
</style>
