---
import Layout from "@/layouts/Layout.astro";
import Link1 from "@/components/Link1.astro";
---

<Layout>
  <div>
    <div class="bg-[center_center] bg-cover bg-[url(/trb/banner.png)]">
      <div id="bannercontent" class="mx-w-7xl mx-auto w-[90%]">
        <div class="p-[7rem_0_3rem_0] text-[1rem] min-h-[35rem]">
          <div>
            <p
              class="text-white text-center text-[2.5rem] pt-36 mb-6 font-merriweather"
            >
              Informed Peace of Mind &REG;
              <br />
              From The People You Know
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="maincontent" class="bg-white box-border">
      <div>
        <div id="col">
          <article id="post-12681">
            <div id="pl-12681">
              <div class="hidden md:block">
                <div>
                  <div class="p-[1.5rem_0_1rem_0] bg-trbBlue">
                    <div
                      class="flex justify-center items-center text-white mx-auto gap-4"
                    >
                      <div class="aspect-square w-[4rem]">
                        <img src="/trb/small-logo-brown.png" />
                      </div>
                      <span class="text-[2.3rem] font-merriweather align-">
                        Get Started
                      </span>
                      <Link1 href="/trb/team" class="!m-[0_0_0_1.5rem]"
                        >Meet Our Team</Link1
                      >
                      <Link1
                        href="/trb/wealth#contact"
                        class="!m-[0_0_0_1.5rem]">Contact Us</Link1
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="max-w-[90%] mx-auto pt-[3rem] mb-[5rem]">
                <div class="grid gap-10 md:grid-cols-3">
                  <div class="shadow">
                    <div class="border-b-[8px] border-trbBlue">
                      <img
                        src="/trb/wealth/blue-bonnet-wagon.jpg"
                        class="!aspect-[1.3333]"
                      />
                    </div>
                    <div>
                      <h3
                        class="text-trbBlue text-2xl px-[25px] pt-[1rem] mb-[10px]"
                      >
                        Mission
                      </h3>
                      <p class="text-justify px-[25px] mb-[1.5rem]">
                        To be the premier boutique trust and wealth management
                        business in Texas by providing families with an
                        exceptional client experience and skilled stewardship of
                        their assets to ensure
                        <b>
                          <i>informed peace of mind.</i>
                        </b>
                      </p>
                    </div>
                  </div>
                  <div class="shadow">
                    <div class="border-b-[8px] border-trbBlue">
                      <img
                        src="/trb/wealth/sunrise-hay-bale.jpg"
                        class="!aspect-[1.3333]"
                      />
                    </div>
                    <div>
                      <h3
                        class="text-trbBlue text-2xl px-[25px] pt-[1rem] mb-[10px]"
                      >
                        Who We Serve
                      </h3>
                      <p class="text-justify px-[25px] mb-[1.5rem]">
                        The people we know. We help families, individuals and
                        organizations analyze and achieve their financial goals
                        by providing exceptional, personalized and significant
                        strategies.
                      </p>
                    </div>
                  </div>
                  <div class="shadow">
                    <div class="border-b-[8px] border-trbBlue">
                      <img
                        src="/trb/wealth/shutterstock_562548409-scaled.jpg"
                        class="!aspect-[1.3333]"
                      />
                    </div>
                    <div>
                      <h3
                        class="text-trbBlue text-2xl px-[25px] pt-[1rem] mb-[10px]"
                      >
                        Values
                      </h3>
                      <p class="text-justify px-[25px] mb-[1.5rem]">
                        A fiduciary owes its principal one of the highest duties
                        known to law. This underscores our devotion to the
                        families we serve and our obligation to place our
                        client&apos;s interests above all else.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="py-[3rem] mb-[5rem] bg-[#f4f3f3]">
                <div class="max-w-[90%] mx-auto">
                  <div>
                    <div
                      class="md:grid md:grid-cols-2 w-full md:justify-items-center md:items-center"
                    >
                      <div>
                        <div class="mx-auto w-[90%] md:max-w-xl">
                          <h2>What We Do</h2>
                          <p class="text-[1.4rem] text-[#4c4c4c]">
                            Your family&apos;s financial well-being is our
                            priority. Our Trust and Wealth Management team
                            provides boutique services with a personalized focus
                            on your family&apos;s unique needs.
                          </p>
                        </div>
                      </div>
                      <!-- class="w-[calc(50%-(0.5*50px))]" -->
                      <div class="max-w-[615px] mx-auto">
                        <img
                          src="/trb/wealth/trust-diagram.png"
                          class="w-full h-full object-contain"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="/trb/banner-2.png" />
              </div>
              <div id="introductions" class="max-w-[90%] mx-auto pt-[3rem]">
                <h2 class="text-center mx-auto">Introductions</h2>
                <div class="panel-container gap-6 flex-col !items-baseline">
                  <div>
                    <div class="video-wrapper">
                      <iframe
                        src="https://www.youtube.com/embed/dPQn13bmmtc?si=TlwmDWyWR_jbA43F"
                        title="YouTube video player"
                        loading="lazy"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
                    </div>
                    <p class="sm:text-[1.5rem]">
                      <span class="text-[1.5rem] sm:text-[1.8rem] leading-24"
                        >Informed Peace of Mind:</span
                      >
                      <br />
                      Meet TRB Trust & Wealth President explain how clients can reach
                      Informed Peace of Mind with TRB professional financial services
                    </p>
                  </div>
                  <div>
                    <div class="video-wrapper">
                      <iframe
                        src="https://www.youtube.com/embed/sONZKeCyLCw?si=YHUsqR15RK0NFSHj"
                        title="YouTube video player"
                        loading="lazy"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
                    </div>
                    <p class="sm:text-[1.5rem]">
                      <span class="text-[1.5rem] sm:text-[1.8rem] leading-24"
                        >More Than Just Investing:</span
                      >
                      <br />
                      Meet TRB Chief Investment Officer as he explains how investing
                      is more about reaching your personal financial goals
                    </p>
                  </div>
                </div>
              </div>
              <div id="resources" class="max-w-[90%] mx-auto py-[3rem]">
                <a href="/trb/resources">
                  <h2 class="text-center mx-auto">Resources</h2>
                </a>
                <div class="text-center mb-6">
                  <span class="text-[1.5rem]">
                    Discover our expert analysis on market conditions and wealth
                    strategies
                  </span>
                </div>
                <div
                  class="grid mx-auto gap-10 w-[90%] max-w-6xl sm:justify-center sm:grid-cols-2"
                >
                  <a href="/trb/resources/weekly-market-update" class="block">
                    <div
                      class="card-personal group relative cursor-pointer h-full grid grid-rows-[auto_1fr_auto]"
                    >
                      <div
                        class="absolute inset-0 bg-black/10 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
                      >
                      </div>
                      <div class="max-h-[21rem]">
                        <img
                          src="/trb/resources/hero-1.png"
                          class="object-contain w-full"
                        />
                      </div>
                      <div class="card-content">
                        <p class="opacity-60">Friday, August 29, 2025</p>
                        <h5>Weekly Market Update</h5>
                        <p class="!mb-0">
                          This week we get a look at Q2 GDP results, and also
                          the Fed's preferred inflation reading, PCE. Read to
                          learn how these are affecting our thinking and
                          potential rate cut projections.
                        </p>
                      </div>
                      <div class="card-footer px-[2rem] pb-[2rem]">
                        <div class="flex gap-4 items-center">
                          <div
                            class="max-w-12 border-0 rounded-[50%] overflow-clip"
                          >
                            <img
                              src="/trb/people/Trey-Willerson.jpg"
                              class="w-full h-full object-contain"
                            />
                          </div>
                          <p class="!mb-0 [&>i]:opacity-60 [&>i]:text-trbBlue">
                            Trey Willerson, CFA
                            <br />
                            <i>Chief Investment Officer</i>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="/trb/resources/wealth-blog" class="block">
                    <div
                      class="card-personal group relative cursor-pointer h-full grid grid-rows-[auto_1fr_auto]"
                    >
                      <div
                        class="absolute inset-0 bg-black/10 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
                      >
                      </div>
                      <div class="max-h-[21rem]">
                        <img
                          src="/trb/resources/hero-2.png"
                          class="object-contain w-full"
                        />
                      </div>
                      <div class="card-content">
                        <p class="opacity-60">Monday, August 25, 2025</p>
                        <h5>Wealth Blog</h5>
                        <p class="!mb-0">
                          How beautiful is the One Big Beautiful Bill? Read as
                          our experts outline the major provision of the
                          president's landmark tax legislation and how it can
                          effect your financial plan.
                        </p>
                      </div>
                      <div
                        class="card-footer px-[2rem] pb-[2rem]"
                      >
                        <div class="flex gap-4 items-center">
                          <div
                            class="max-w-12 border-0 rounded-[50%] overflow-clip"
                          >
                            <img
                              src="/trb/people/Peyton-Stamper.jpg"
                              class="w-full h-full object-contain"
                            />
                          </div>
                          <p class="!mb-0 [&>i]:opacity-60 [&>i]:text-trbBlue">
                            Peyton Stamper, CPA, CFP&REG;
                            <br />
                            <i>Wealth Management Advisor</i>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div id="contact" class="max-w-[90%] mx-auto py-[3rem]">
                <h2 class="text-center mx-auto">Contact Us</h2>
                <div
                  class="text-[1.2rem] mb-[1.5rem] text-[#4C4C4C] font-lato text-center"
                >
                  Contact Our Trust & Wealth Management Team
                </div>
                <div class="flex justify-center gap-[36px]">
                  <div class="flex gap-4">
                    <div class="w-[40px]">
                      <img src="/trb/online_banking.svg" />
                    </div>
                    <p class="font-extrabold text-[1.2rem] leading-[1.5]">
                      <span class="text-trbBrown">Call Us</span>
                      <br />
                      <a
                        href="tel:8442218595"
                        class="text-trbBlue hover:text-trbBrown transition-[all_0.25s_ease-in-out]"
                      >
                        (844) 221-8595
                      </a>
                    </p>
                  </div>
                  <div class="flex gap-4">
                    <div class="w-[40px]">
                      <img src="/trb/email.svg" />
                    </div>
                    <p class="font-extrabold text-[1.2rem] leading-[1.5]">
                      <span class="text-trbBrown">Email Us</span>
                      <br />
                      <a
                        href="mailto:trbtrustandwealth@trb.bank"
                        class="text-trbBlue hover:text-trbBrown transition-[all_0.25s_ease-in-out]"
                      >
                        trbtrustandwealth@trb.bank
                      </a>
                    </p>
                  </div>
                </div>
              </div>
              <div
                id="disclose"
                class="max-w-[90%] mx-auto py-[3rem] text-[1.2rem] leading-[1.5] mb-[1.5rem] opacity-70 font-lato"
              >
                <p>
                  INVESTMENT AND INSURANCE PRODUCTS ARE NOT A DEPOSIT / NOT FDIC
                  INSURED / MAY LOSE VALUE / NOT BANK GURANTEED / NOT INSURED BY
                  ANY FEDERAL GOVERNMENT AGENCY.
                </p>
                <p>
                  TRB Wealth Management, LLC is a Registered Investment Advisor
                  with the Securities and Exchange Commission
                </p>
                <p>Form CRS | Form ADV | Advisor Info</p>
                <p>
                  TRB Wealth Management, LLC does business in the name of TRB
                  Trust and Wealth Management. Trust and Family Office services
                  offered exclusively through Texas Regional Bank. The trust
                  department of Texas Regional Bank has engaged TRB Wealth
                  Management, LLC to provide investment advice to Texas Regional
                  Bank for trust department accounts.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .panel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #stretched {
    padding-top: 3rem;
  }

  img {
    aspect-ratio: auto 1428/1000;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  p {
    line-height: 1.5;
    margin: 0 0 1.5rem;
    word-break: break-word;
  }
  .smallprint_p {
    margin-bottom: 0;
    font-size: 0.7rem;
    line-height: 1.25rem;
    text-align: center;
  }
  h2 {
    line-height: 1.25;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-trbBlue);
    margin: 0 0 1.5rem;
    font-family: "merriweather", Helvetica, Arial, sans-serif;
    padding-top: 1rem;
  }

  a:hover h2 {
    color: #327ebc;
  }

  h5 {
    line-height: 1.25;
    font-size: 1.25rem;
    color: var(--color-trbBrown);
    font-family: "merriweather", Helvetica, Arial, sans-serif;
    margin-bottom: 1.5rem;
  }
  a:hover h5 {
    color: #327ebc;
  }

  #footer {
    background: var(--color-trbBlue);
  }
  .li_lv0 {
    max-width: 100%;
    text-align: center;
    margin: 1.5rem 0 0 0;
    display: list-item;
  }
  .link_lv0 {
    font-size: 1.17rem;
    color: var(--color-trbBrown);
    display: inline-block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    transition: all 0.25s ease-in-out;

    text-align: center;
  }
  .ul_lv1 {
    padding: 0;
    margin: 0 0 0 0.75rem;
    list-style-type: circle;
    text-align: center;
    list-style: none;
  }
  .li_lv1 {
    list-style-type: none;
    position: relative;
    padding: 0;
    list-style: none;
    display: list-item;
  }
  .link_lv1 {
    display: list-item;
    transition: all 0.25s ease-in-out;
    color: #fff;
  }
  .smallprint_a {
    border-bottom: 1px solid #2b5882;
    transition: all 0.25s ease-in-out;
    text-decoration: none;
  }

  .video-wrapper {
    position: relative;
    padding-top: 50%;
    padding-bottom: 20px;
    height: 0;
  }

  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .card-personal {
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 0px 3px 5px #8ba2c51c;
    border-radius: 6px;
  }
  .card-content {
    padding: 2rem;
  }

  @media (min-width: 48rem) {
    h2 {
      padding-top: 0;
    }

    .panel-container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: calc(var(--spacing) * 10);
    }

    .li_lv0 {
      text-align: left;
    }
    .li_lv1 {
      text-align: left;
    }
  }
</style>
