---
import '../styles/global.css'
---


<!DOCTYPE html>
<html lang="en" style="font-size: 14px;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-main-bg-color">
    <slot />
  </body>
</html>

<style>
  body {
    color: #4c4c4c;
    font-family: "lato", Helvetica, Arial, sans-serif;
  }
</style>