---
import "../styles/global.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="en" style="font-size: 14px;" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/trbfavicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-main-bg-color">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: "lato", Helvetica, Arial, sans-serif;
  }
</style>